/* FOOTER START */
// .footer {
//   border-top: 3px solid #083ab9;
// }
.footer-bg {
  background-color: #e5e5e5;
}

.footer ul {
  padding-left: 0;
}
.footer h5 {
  color: #071689;
  font-weight: bold;
}
footer {
  a {
    color: black;
    text-decoration: none;
  }
  .footer-copy {
    font-size: 0.75rem;
  }
}
/* FOOTER END */
