.navbar-top {
  background-color: #37b2ff;
  padding-top: 1rem;
  padding-bottom: 0;
  // border-top: 3px solid #083ab9;
  .navbar-logo {
    img {
      width: auto;
      height: 36px;
    }
  }
  li.menu-item {
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: bold;
    a {
      padding: 1.2rem 1.2rem !important;
    }
    :hover {
      background-color: #083ab9 !important;
      transition: all ease-in 0.5s;
      color: white !important;
    }
  }
  li.active > a {
    color: #083ab9 !important;
    background-color: white !important;
    // transition: all 0.7s;}
  }
  // li.menu-item:hover {
  //   background-color: #083ab9;
  //   transition: background ease-in 0.5s;
  //   a {
  //     color: white !important;
  //   }
  // }
}
@media (min-width: 980px) {
  #nav-logo {
    opacity: 0;
  }
}

@media (max-width: 979px) {
  #nav-logo {
    opacity: 1;
  }
  main {
    padding-top: 5.75rem;
  }
  .navbar-top {
    padding-bottom: 1rem;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    background-color: #fff;
    border-bottom: 3px solid #083ab9;

    ul {
      margin-bottom: 4.2rem;
      li.menu-item {
        a {
          padding: 12px 30px;
          padding-left: 3rem !important;
          margin-right: -12px;
          margin-left: 3rem;
        }
      }
      li.menu-item:first-child {
        margin-top: 2rem;
      }
      li.menu-item:last-child {
        margin-bottom: 3.15rem;
      }
      li.active > a {
        color: #fff !important;
        background-color: #083ab9 !important;
        // transition: all 0.7s;}
      }
    }
  }
  .menu-lang {
    margin-top: -3.15rem;
  }
}

.nav-sc-down-logo {
  display: block !important;
  position: absolute;
  transition: opacity ease-in 0.5s;
  opacity: 1 !important;
  margin-top: -1.5rem;
}

.main-sc-down {
  margin-top: 183px;
}

.menu-lang {
  right: 12px;
  position: absolute;
  button {
    background-color: #37b2ff !important;
    border: 1px solid white !important;
  }
}

.navbar-top li.menu-item a {
  padding: 0.5rem 1.2rem !important;
  font-size: 22px;
  font-weight: bold;
}

.logo-cont {
  background-color: #fff;
}

#navbar-cont {
  padding: 0;
}
