@charset "UTF-8";
@import "../sass/normalize.scss";
@import url("https://fonts.googleapis.com/css?family=Roboto");

@import "../sass/cust-bootstrap.scss";
// @import "../../ressources/fontawesome-free-5.15.3-web/scss/solid.scss";
@import "../sass/navbar.scss";
@import "../sass/foot.scss";

body {
  font-family: "Roboto", sans-serif !important;
  font-size: 18px !important;
}

p {
  font-size: 18px !important;
}

a:hover {
  color: #03a9f4;
  transition: color ease-in 0.5s;
}

.list-unstyled {
  list-style: none;
}

.submenu {
  // background-color: #37b2ff;
  background-color: #a1daff;
  // border-radius: 25px;
  ul {
    padding-left: 0;
    @media (max-width: 992px) {
      text-align: center !important;
    }
  }
  li {
    padding: 0.75rem 0.5rem;
    @media (max-width: 992px) {
      flex: 1 0 20%;
      padding-left: 1rem;
      padding-right: 1rem;
    }
    @media (max-width: 768px) {
      flex: 1 0 33%;
      padding-left: 1rem;
      padding-right: 1rem;
    }
    a {
      text-decoration: none;
      text-transform: uppercase;
      color: black;
      font-weight: 300;
      display: block;
    }
  }
  li:hover {
    background-color: #083ab9;
    transition: background ease-in 0.5s;

    a {
      color: #fff;
      transition: color ease-in 0.5s;
    }
    a:link {
      text-decoration: none;
    }

    a:visited {
      text-decoration: none;
    }

    a:hover {
      text-decoration: none;
    }

    a:active {
      text-decoration: none;
    }
  }
  // li:first-child:hover {
  //   border-radius: 25px 25px 0 0;
  // }
  // li:last-child:hover {
  //   border-radius: 0 0 25px 25px;
  // }
}

.col-middle {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  height: 100%;
}
.separator {
  width: 100%;
  border-top: 2px solid #eae8e8;
  border-bottom: 2px solid #eae8e8;
  height: 10px;
}

.submenu-active {
  background-color: #083ab9 !important;
  a {
    color: white !important;
  }
}

.menu-portf {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: space-around;
  background-color: #a1daff;
  padding-left: 0rem;
  li {
    padding-left: 1rem;
    padding-right: 1rem;
    a {
      display: block;
      text-decoration: none;
      color: black;
    }
  }
  li:hover {
    a {
      color: white !important;
    }
    background-color: #083ab9 !important;
    transition: 0.5s;
  }
  .active {
    background-color: #083ab9 !important;
    a {
      color: white !important;
    }
  }
  a:link {
    text-decoration: none;
  }

  a:visited {
    text-decoration: none;
  }

  a:hover {
    text-decoration: none;
  }

  a:active {
    text-decoration: none;
  }
}

.carousel-indicators [data-bs-target] {
  width: 10px !important;
  background-color: #37b2ff;
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%2337b2ff'%3e%3cpath d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/%3e%3c/svg%3e");
}

.carousel-control-prev {
  transition: opacity ease 0.5;
  opacity: 0;
  :hover {
    opacity: 1 !important;
  }
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%2337b2ff'%3e%3cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.carousel-control-next {
  transition: opacity ease 0.5;
  opacity: 0;
  :hover {
    opacity: 1 !important;
  }
}

.fusion-li-item {
  display: flex;
  display: -moz-box;
  display: -webkit-box;
}

.menu-lang img {
  display: none !important;
}

.submenu a {
  font-weight: bold !important;
}

.menu-portf a {
  font-weight: bold;
}

.carousel-p2 {
  width: auto !important;
  height: 550px !important;
  margin: 0 auto !important;
}

.col3-middle {
  h1 {
    margin-top: 1rem;
    margin-bottom: 1.5rem;
  }
  h2 {
    margin-top: 1rem;
    margin-bottom: 1.5rem;
  }
  h3 {
    margin-top: 1rem;
    margin-bottom: 1.5rem;
  }
  h4 {
    margin-top: 1rem;
    margin-bottom: 1.5rem;
  }
  h5 {
    margin-top: 1rem;
    margin-bottom: 1.5rem;
  }
  h1::first-letter {
    text-transform: capitalize;
  }
  h2::first-letter {
    text-transform: capitalize;
  }
  h3::first-letter {
    text-transform: capitalize;
  }
}

.wpcf7 label {
  display: block;
  width: 100%;
}
.wpcf7 input,
.wpcf7 select,
.wpcf7 textarea {
  display: block;
  width: 100%;
  padding: 0.5rem 0.75rem;
  font-size: 1rem;
  line-height: 1.25;
  color: #464a4c;
  background-color: #fff;
  background-image: none;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
  -webkit-transition: border-color ease-in-out 0.15s,
    -webkit-box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s,
    -webkit-box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s,
    -webkit-box-shadow ease-in-out 0.15s;
}
.wpcf7 textarea::-ms-expand,
.wpcf7 input::-ms-expand {
  background-color: transparent;
  border: 0;
}
.wpcf7 select:focus,
.wpcf7 textarea:focus,
.wpcf7 input:focus {
  color: #464a4c;
  background-color: #fff;
  border-color: #5cb3fd;
  outline: none;
}
.wpcf7 textarea::-webkit-input-placeholder,
.wpcf7 input::-webkit-input-placeholder {
  color: #636c72;
  opacity: 1;
}
.wpcf7 textarea::-moz-placeholder,
.wpcf7 input::-moz-placeholder {
  color: #636c72;
  opacity: 1;
}
.wpcf7 textarea:-ms-input-placeholder,
.wpcf7 input:-ms-input-placeholder {
  color: #636c72;
  opacity: 1;
}
.wpcf7 textarea::placeholder,
.wpcf7 input::placeholder {
  color: #636c72;
  opacity: 1;
}
.wpcf7 textarea:disabled,
.wpcf7 textarea[readonly],
.wpcf7 input:disabled,
.wpcf7 input[readonly] {
  background-color: #eceeef;
  opacity: 1;
}
.wpcf7 textarea:disabled,
.wpcf7 input:disabled {
  cursor: not-allowed;
}
select.wpcf7 textarea:not([size]):not([multiple]),
select.wpcf7 input:not([size]):not([multiple]) {
  height: calc(2.25rem + 2px);
}
select.wpcf7 textarea:focus::-ms-value,
select.wpcf7 input:focus::-ms-value {
  color: #464a4c;
  background-color: #fff;
}
.wpcf7 input[type="submit"] {
  cursor: pointer !important;
  margin-top: 0.5rem;
  display: inline-block;
  font-weight: normal;
  line-height: 1.25;
  text-align: center;
  white-space: nowrap;
  // vertical-align: middle;
  display: block;
  width: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  color: #292b2c;
  background-color: #083ab9;
  color: white;
  border-color: #ccc;
}
.wpcf7 input[type="submit"]:focus,
.wpcf7 input[type="submit"]:hover {
  text-decoration: none;
  // background-color: #083ab9;
  // color: white;
}
.wpcf7 input[type="submit"]:focus,
.wpcf7 input[type="submit"].focus {
  outline: 0;
  -webkit-box-shadow: 0 0 0 2px rgba(2, 117, 216, 0.25);
  box-shadow: 0 0 0 2px rgba(2, 117, 216, 0.25);
}
.wpcf7 input[type="submit"].disabled,
.wpcf7 input[type="submit"]:disabled {
  cursor: not-allowed;
  opacity: 0.65;
}
.wpcf7 input[type="submit"]:active,
.wpcf7 input[type="submit"].active {
  background-image: none;
}
.wpcf7 input[type="file"] {
  border: 0 !important;
}
.wpcf7 input[type="checkbox"] {
  display: inline;
  width: auto;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}

.wpcf7-list-label {
  padding-left: 18px !important;
  input {
    margin-right: 5px;
  }
}

.sec_entretien {
  display: flex;
  flex-direction: column;
  li {
    display: inline-flex;
    span {
      margin-top: auto;
      margin-bottom: auto;
    }
  }
  margin-bottom: 2rem;
}

.fusion-li-icon {
  font-size: 22px !important;
  img {
    width: 22px !important;
    height: 20px !important;
  }
}
section {
  a:link {
    text-decoration: none;
  }

  a:visited {
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }

  a:active {
    text-decoration: underline;
  }
}

.container,
.container-sm,
.container-md,
.container-lg,
.container-xl,
.container-xxl {
  max-width: 1550px;
}

.grecaptcha-badge {
  visibility: hidden !important;
}
